<div id="task-collapse<%= task.id %>" class="panel-collapse collapse">
  <div class="panel-body">
    <div class="container">
      <span class="label label-success" id="project-task-status-<%= task.id %>" style="margin-right: 20px;">
        Status: <%= task.status.humanize %>
      </span>
      <span class="label label-success" id="project-task-priority-<%= task.id %>" style="margin-right: 20px;">
        Priority: <%= task.priority.humanize %>
      </span>
      <span class="label label-success" id="project-task-deadline-<%= task.id %>" style="margin-right: 20px;">
        Deadline: <%= task.deadline %>
      </span>
    </div>
    <%= render 'comments/form', :task => task %>
    <%= render 'comments/index', :task => task %>
  </div>
</div>