<!DOCTYPE html>
<html>
  <head>
    <title>ToDOApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-narrow">
      <div class="masthead">
        <%= render 'layouts/navigation' %>
        <h3 class="muted"><%= link_to "ToDo App", root_path %></h3>
      </div>
      <%= render 'layouts/messages' %>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>
